body { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size:11pt; 
    color: #000; 
}
.clear { clear: both; }

/* CakePHP reset */
form { display: inline; }
div.submit { display: inline; }
input { margin: 0 4px; }

#container { width: 1000px; margin: 0 auto; }
h1 { margin: 30px 0; }
#footer { font-size: 0.8em; margin-top: 100px; }

#search { text-align: center; }
#search h2 { display: inline; }

#product{ margin: 20px; border: 1px solid #ccc; padding: 20px 40px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px;
}
#product #image { float: left; margin: 0 50px; }

#results { text-align: center; font-size: 1.2em; margin: 20px 0; }
#results #right { color: green; }
#results #toohigh { color: red; }
#results #toolow, #results #error { color: red; }
#noproduct { color: red; text-align: center; padding: 5px;}

#guess { width: 300px; margin: 0 auto; text-align: left; }
#guess h3 { display: block; }
#guess #exp { font-size: 0.8em; color: #999; }

#loading { text-align: center; margin: 2em 0; color: #999; }